.mainTextContainer {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  margin-top: 20dvh;
  margin-left: 5dvw;
  max-width: 714px;
  z-index: 1000 !important;
}

.title {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 80px;
  background: linear-gradient(
    to top right,
    var(--color-light-1) 60%,
    var(--color-primary) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3.2rem;
}

.subText {
  font-size: 2rem;
  line-height: 28px;
  color: #747474de;
  margin-top: 2rem;
}
.white {
  color: white;
}

@media (max-width: 768px) {
  .mainTextContainer {
    margin-top: 6rem;
    margin-left: 0;
  }

  .title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 35px;
    background: linear-gradient(
      to right,
      var(--color-light-1) 20%,
      var(--color-primary) 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subText {
    font-size: 1.4rem;
    line-height: 20px;
    color: #747474de;
  }
}

@media (max-width: 768px) {
  .mainTextContainer {
    margin-top: 6rem;
    margin-left: 0;
    z-index: 99999 !important;
  }
}
