.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  position: relative;
  width: 100%;
  max-height: 6rem;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  text-indent: 1rem;
  width: 68%;
  background: var(--color-dark-1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
  padding: 1.8rem 3.6rem;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input:focus {
  outline: none;
}

.button {
  width: 30%;
  max-width: 168px;
  flex-shrink: 0;
  background: #0c0c0c;
  border: none;
  color: #b3b3b3;
  font-size: 1.8rem;
  backdrop-filter: blur(10px);
  padding: 1.8rem 3.6rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 1.67px 6.82px 0px rgba(245, 144, 58, 1),
    inset 0px 0px 18.13px 0px rgba(245, 144, 58, 1),
    inset 0px 0.84px 0.56px 0px rgba(255, 199, 152, 1),
    inset 0px 1.12px 1.81px 0px rgba(255, 199, 151, 1),
    inset 0px 1.12px 2.23px 0px rgba(255, 249, 244, 1);
  transition: all 0.3s ease;
}

.button:hover {
  opacity: 0.8;
  background: var(--color-primary);
  color: var(--color-dark-1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.hiddenField {
  position: absolute;
  left: -5000px;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.error {
  color: #ff6b6b;
  font-size: 0.875rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .input {
    width: 100%;
    font-size: 1.2rem;
  }

  .button {
    width: 100%;
    font-size: 1.2rem;
    max-width: 100%;
  }
}
